* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.icon {
  height: 2rem;
  width: auto;
}
.notes-app {
  display: flex;
  height: 100dvh;
  padding: 3rem;
  background-color: yellow;
}
/* ab hier alles zur Sidebar */
.sidebar {
  background: red;
  flex: 0 0 clamp(24rem, 25vw, 32rem);
  margin-right: 0.8rem;
}
.create-new {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.4rem 0;
  gap: 0.8rem;
  border: none;
}
.notes-list {
  border: 1px solid #111;
  padding: 1.6rem;
  background-color: green;
}
.note-entry {
  padding: 1.6rem;
}
.note-title {
  margin-bottom: 0.8rem;
}
.note-content-teaser {
  /* eventuell später definieren */
}
.note-date {
  margin-top: 1.6rem;
}

/* Ab hier alles zur main-content */
.main-content {
  background-color: blue;
  flex: 1;
  padding: 2.4rem 1.6rem;
  border-left: solid 1px #111;
}
