@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

:root {
  --border-radius: 0.5rem;
  --font-family: "Poppins", sans-serif;
  --primary-color: 246, 93, 231;
  --primary-color-rgb: rgb(var(--primary-color));
  --primary-color--hover: rgb(249, 126, 237);
}

.icon {
  height: 3.2rem;
  width: 3.2rem;
}

.notes-app {
  display: flex;
  width: 100%;
  height: 100dvh;
  font-family: var(--font-family);
}

/* ab hier alles zur Sidebar */
.sidebar {
  width: 45rem;
  padding: 2.4rem 1.6rem;
  border-right: solid 1px #111;
  overflow: auto;
}

.create-new {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
}

.create-new .icon {
  width: 2.4rem;
  height: 2.4rem;
}

.create-new,
.save-note,
.delete-note {
  color: #fff;
  background-color: var(--primary-color-rgb);
  font-family: var(--font-family);
  border: none;
  padding: 2.4rem 0;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2 ease;
}

.create-new:hover,
.save-note:hover,
.delete-note:hover {
  background-color: var(--primary-color--hover);
}

.notes-list {
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
  gap: 1.6rem;
}

.note-entry {
  padding: 1.6rem;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
}

.note-entry:not(.selected-note) {
  cursor: pointer;
}

.note-entry:hover,
.selected-note {
  background-color: rgba(var(--primary-color), 0.1);
}

.note-title {
  margin-bottom: 0.8rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.note-title,
.note-content-teaser {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.note-content-teaser {
  color: gray;
}

.note-date {
  margin-top: 1.6rem;
  width: 100%;
  text-align: right;
  font-style: italic;
  font-size: 1.2rem;
  color: gray;
}

/* Ab hier alles zur main-content */
.main-content {
  width: 100%;
  padding: 2.4rem 1.6rem;
}

.title-and-save {
  display: flex;
  margin-bottom: 2.4rem;
  gap: 0.8rem;
}
#title-input {
  font-size: 4.8rem;
  font-weight: 700;
}

#content-input {
  font-size: 2.4rem;
  resize: none;
  height: 80dvh;
}

#title-input,
#content-input {
  width: 100%;
  border: none;
  outline: none;
}

#title-input::placeholder,
#content-input::placeholder {
  color: gray;
}

.save-note,
.delete-note {
  padding: 1.6rem;
  width: unset;
}
